h1 {
font-family: 'Jura', sans-serif;
font-weight: bold ;
color: black !important;

}
h4{
   font-family: 'Jura', sans-serif;
 
}
.nav{
    font-family: 'Jura', sans-serif;

}

li{
    font-size:1.5em;
}
.noneborder{
     border:none !important;
     background: transparent !important;
     box-shadow:none !important;
     -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.075) !important;
  }
.thumbnail h3{
    font-family: 'Jura', sans-serif;

}